*{
    margin: 0;
    /* padding: 0; */
    text-transform: capitalize;
    text-decoration: none;
}
body{
    background-color:blanchedalmond;
}
header{
    text-align: center;
    padding: 50px;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}
nav{
    background-color: rgba(94, 88, 88, 0.856);
    overflow: hidden;

    
}nav a{
      display: block;
      color: white; padding: 14px 30px;
      float: left;
}
h2{
    text-align: center;
    padding: 20px;
}
nav a:hover{
    display: block;
    color: rgb(25, 0, 255); padding: 14px 30px;
    transition: 0.5s;
}
h4{
    background-color: yellow;
    margin: 20px;
}
